@import "tailwindcss";

@theme {
  --color-light-frost: #F3F4F6;
  --color-cool-gray: #FFFFFF;
  --color-deep-blue: #2563EB;
  --color-electric-blue: #1D4ED8;
  --color-teal: #10B981;
  --color-charcoal: #111827;
  --color-slate-muted: #4B5563;
  --color-softgray: #D1D5DB;
}

body {
  background-color: var(--color-light-frost);
  color: var(--color-charcoal);
}